---
import Layout from '../layouts/Layout.astro';
---

<Layout title="World Wide Web Commercial">
  <section class="home">
    <img src="/images/homepage-fist.png" alt="Cecilia on the internet" class="fist-img" />
  </section>
</Layout>

<style>
  .home {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 60px);
    padding: 2rem;
  }

  .fist-img {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
</style>
