---
import Layout from '../layouts/Layout.astro';
---

<Layout title="World Wide Web Commercial">
  <section class="home">
    <img src="/images/homepage-fist.png" alt="Cecilia on the internet" class="fist-img" />
  </section>
</Layout>

<style>
  .home {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3rem 2rem;
  }

  .fist-img {
    max-width: 800px;
    width: 100%;
    height: auto;
  }
</style>
